@using ProgressControl.WEB_New_.Models
@using System.Collections.Generic;
@using System.Linq;
@model PlanViewModel
@using ProgressControl.DAL.Entities;

@{
    RsTask tmp = (RsTask)ViewBag.Data;
    Model.Code = tmp.Code;
    Model.CreationTime = tmp.CreationTime;
    Model.State = tmp.WorkState.ToString();

 }    

<div class="list-group-item container-fluid">
    <div class="row">
        <div class="col-md-8">
            <p>
                @Html.DisplayFor(model => model.CreationTime, new { @class = "text-justify" })
            </p>
            <p>
                @Html.DisplayFor(model => model.State, new { @class = "text-justify" })
            </p>
        </div>
        <div class="col-md-4">
            <form class="form-inline SubtaskForm" id="Form-@Model.Code">
                @Html.Hidden(value: Model.Code, name: "PlanId")
                @Html.DropDownList("SelectedItem", ViewBag.spc as SelectList, new { @class = "spcId" })
                @Html.TextBox("Quantity","Введите количество" ,new { @class = "form-control", id = "Quantity" })
                <input type="submit" class="btn btn-default" value="Добавить строку плана" />
            </form>
        </div>
    </div>
    <div id="Subtasks-@Model.Code" class="list-group-item container-fluid">
        <div class="list-group container-fluid">
            @foreach (var el in Model.Subtasks)
            {
                <div id="subtask-@el.Code" class="list-group-item">
                    <p id="SubtaskId" class="text-justify"> @el.Code</p>
                    <p id="SubtaskName" class="text-justify">@el.Name</p>
                    <p id="SubtaskState" class="text-justify">@el.State</p>
                    <p id="SuvtaskQuantity" class="text-justify">@el.Quantity</p>
                </div>
            }
            <div id="SubtaskResult">
            </div>
        </div>
    </div>
</div>