@using PagedList;
@using PagedList.Mvc;
@model IPagedList<(int, string, int)>

<div class="list-group-item">
    <table class="table table-hover">
        <thead class="bg-info">
            <tr>
                <th scope="col">Код элемента</th>
                <th scope="col">Наименование</th>
                <th scope="col">Количество</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var el in Model)
            {
                <tr>
                    <td>@el.Item1</td>
                    <td>@el.Item2</td>
                    <td>@el.Item3</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p class="text-justify">
    @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
</p>
@Html.PagedListPager(Model, page => Url.Action("ElementsPager", new { page, Id = ViewBag.TaskId }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "get", UpdateTargetId = "Elements" }))